@model IEnumerable<Item>

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>
<div class="align-content-lg-end">
<a asp-action="Create" class="btn btn-primary" > Create </a>
</div>
<br />

@if (TempData["success"] != null)
{
    <div class="alert alert-success" >
        @TempData["success"]
    </div>
    }
<br />

<table class="table table-hover" >
        <tr >
            <th scope="col" >
                Name
            </th>
            <th>
                Price
            </th>
        <th>
           Category
        </th>
        </tr>
    @*elgazar*@
    @foreach (var item in Model)
    {
        <tr>
            <td scope="row"> 
              @item.Name
            </td>
            <td>
              @item.Price
            </td>
            <td>
                @item.Category?.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"> Edit </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> Delete </a>
            </td>
        </tr>
    }
   

</table>